

.gallery {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background: #c0c0c0;
}


/* Bottom card */
.next-image {
    z-index: 1;

    transform: scale(.95);

    opacity: .8;

    transition:
        transform .25s ease,
        opacity .25s ease;
}


.next-image {
    transform:
        scale(.95)
        translateY(15px);

    opacity: .7;
}

.next-image.active {
    transform:
        scale(1)
        translateY(0);

    opacity: 1;
}

.current-image {
    box-shadow:
        0 20px 60px rgba(0,0,0,.35);
}

.next-image {
    box-shadow:
        0 10px 30px rgba(0,0,0,.15);
}

.current-image,
.next-image {
    border-radius: 20px;
}
/* Top card */
.current-image {
    z-index: 2;

    cursor: grab;
}

.current-image,
.next-image {
    border-radius: 20px;
}




.image-layer {
    position: absolute;
    inset: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.image-layer img {
    max-width: 100%;
    max-height: 100%;

    padding: 10px;
    background-color: rgb(52, 52, 52);

    width: auto;
    height: auto;

    object-fit: contain;

    user-select: none;
    -webkit-user-drag: none;
}

.next {
    z-index: 1;
    transform: scale(.95);
    opacity: .7;
}

.current {
    z-index: 2;
}